.btn {
  border: none;
  // cursor: pointer;
  background-color: white;
  transition: all 0.2s;
  font-size: 5rem;
  font-family: "Gill Sans", "Gill Sans MT", Calibri, "Trebuchet MS", sans-serif;

  &[aria-checked="false"] {
    cursor: pointer;

    &:hover {
      background-color: #d9d9d9;
    }
  }
}

.hidden {
  opacity: 0;
}
