.messageForm {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  background-color: $color-secondary-500;
  min-height: 100vh;
  width: 100%;
  z-index: 900;

  display: flex;
  align-items: center;
  justify-content: center;
}

.message {
  position: absolute;

  display: flex;
  flex-flow: column nowrap;
  gap: 2rem;
  align-items: center;
  justify-content: center;

  font-family: "Gill Sans", "Gill Sans MT", Calibri, "Trebuchet MS", sans-serif;
  font-size: 4rem;
  color: $color-secondary-500;

  min-width: 300px;

  // &__winner {
  //   background-color: lightgreen;
  // }

  // &__loser {
  //   background-color: $color-danger;

  //   & > p {
  //     color: $color-primary-100;
  //   }
  // }

  // &__tie {
  //   background-color: $color-warning;
  // }

  & .winner-msg {
    color: $color-success;
  }

  & .loser-msg {
    color: $color-danger;
  }

  & .tie-msg {
    color: $color-warning;
  }

  & button {
    cursor: pointer;
    border: none;
    border-radius: 0.25rem;
    padding: 0.5rem 1rem;

    font-family: inherit;
    font-size: 2.5rem;
    background-color: $color-primary-400;
    color: white;

    &:hover {
      background-color: $color-primary-300;
    }
  }
}
