*,
*::before,
*::after {
  box-sizing: border-box;
  margin: 0;
  padding: 0; }

.app {
  display: grid;
  place-content: center;
  min-height: 100vh;
  padding: 2rem 0;
  background-color: #333d29; }

button {
  font-family: "Gill Sans", "Gill Sans MT", Calibri, "Trebuchet MS", sans-serif; }

.pop-up {
  animation: fade-in 0.4s ease-in-out; }

@keyframes fade-in {
  0% {
    opacity: 0; }
  100% {
    opacity: 1; } }

.winner {
  background-color: lightgreen !important;
  color: #333d29 !important; }

.hidden {
  opacity: 0; }

.turn-x {
  background-color: #a68a64 !important; }

.turn-o {
  background-color: #c2c5aa !important; }

.board {
  background-color: #333d29;
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  gap: 1rem;
  height: 332px;
  width: 332px; }

.btn {
  border: none;
  background-color: #656d4a;
  color: #333d29;
  box-shadow: 1px 1px 5px rgba(0, 0, 0, 0.5);
  border-radius: 0.5rem;
  transition: all 0.2s;
  font-size: 4rem;
  font-family: "Gill Sans", "Gill Sans MT", Calibri, "Trebuchet MS", sans-serif; }
  .btn[aria-checked="false"] {
    cursor: pointer;
    box-shadow: 4px 4px 10px rgba(0, 0, 0, 0.5); }
    .btn[aria-checked="false"]:hover {
      background-color: #a4ac86; }
    .btn[aria-checked="false"]:disabled {
      cursor: default; }
      .btn[aria-checked="false"]:disabled:hover {
        background-color: #656d4a; }

.turn {
  display: flex;
  justify-content: space-between;
  align-items: center;
  gap: 1rem;
  width: 332px;
  margin-bottom: 1rem;
  border-radius: 0.5rem;
  font-family: "Gill Sans", "Gill Sans MT", Calibri, "Trebuchet MS", sans-serif; }
  .turn-true {
    width: 100px;
    font-size: 4rem;
    background-color: #a4ac86;
    color: #333d29; }
  .turn-false {
    width: 100px;
    font-size: 4rem;
    background-color: #7f4f24;
    color: #a4ac86; }
    .turn-false svg {
      height: 3rem;
      fill: #a4ac86;
      animation: loadingsvg 1.5s infinite; }
  .turn > * {
    height: 6rem;
    padding: 1rem;
    border-radius: 0.5rem;
    box-shadow: 2px 2px 10px rgba(0, 0, 0, 0.5);
    display: flex;
    align-items: center;
    justify-content: center; }
  .turn span {
    width: 216px;
    overflow: hidden;
    text-wrap: wrap;
    font-size: 2rem;
    background-color: #7f4f24;
    color: #a4ac86; }
  .turn > div {
    width: 100px;
    font-size: 4rem; }

@keyframes loadingsvg {
  0% {
    transform: rotate(0deg); }
  100% {
    transform: rotate(360deg); } }

.messageForm {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  background-color: #333d29;
  min-height: 100vh;
  width: 100%;
  z-index: 900;
  display: flex;
  align-items: center;
  justify-content: center; }

.message {
  position: absolute;
  display: flex;
  flex-flow: column nowrap;
  gap: 1rem;
  align-items: center;
  justify-content: center;
  font-family: "Gill Sans", "Gill Sans MT", Calibri, "Trebuchet MS", sans-serif;
  font-size: 4rem;
  color: #333d29;
  min-width: 300px; }
  .message .winner-msg {
    color: #8ea447; }
  .message .loser-msg {
    color: #fe5f55; }
  .message .tie-msg {
    color: #edae49; }
  .message button {
    cursor: pointer;
    border: none;
    border-radius: 0.25rem;
    padding: 0.5rem 1rem;
    width: 100%;
    font-family: inherit;
    font-size: 2.5rem;
    background-color: #7f4f24;
    color: white; }
    .message button:hover {
      background-color: #936639; }

.mainMenu {
  display: flex;
  gap: 1rem;
  flex-flow: column nowrap;
  align-items: center;
  justify-content: center;
  font-family: "Gill Sans", "Gill Sans MT", Calibri, "Trebuchet MS", sans-serif; }
  .mainMenu > * {
    width: 332px;
    border-radius: 0.5rem; }

.gameTitle {
  background-color: #7f4f24;
  box-shadow: 2px 2px 10px rgba(0, 0, 0, 0.5);
  padding: 0.75rem;
  text-align: center; }
  .gameTitle h1 {
    text-transform: uppercase;
    font-size: 4rem;
    font-weight: 400;
    color: #a4ac86; }

.userInfo {
  display: grid;
  gap: 1rem;
  grid-template-columns: repeat(3, 1fr);
  height: 5rem; }
  .userInfo > * {
    height: 5rem;
    border-radius: 0.5rem;
    box-shadow: 4px 4px 10px rgba(0, 0, 0, 0.5);
    width: 100%; }
  .userInfo > span {
    grid-column: span 2;
    background-color: #7f4f24;
    display: flex;
    align-items: center;
    padding: 1rem;
    overflow: hidden;
    text-wrap: wrap;
    font-size: 2rem;
    font-weight: 400;
    color: #a4ac86; }
  .userInfo > button {
    cursor: pointer;
    border: none;
    background-color: #656d4a;
    font-size: 2rem;
    color: #c2c5aa;
    height: 5rem;
    padding: 1rem;
    transition: all 0.2s; }
    .userInfo > button:hover {
      background-color: #a4ac86;
      color: #333d29; }

.createGameForm {
  display: flex;
  gap: 1rem;
  flex-flow: column nowrap; }
  .createGameForm > * {
    height: 5rem;
    border-radius: 0.5rem;
    box-shadow: 4px 4px 10px rgba(0, 0, 0, 0.5);
    width: 100%; }
  .createGameForm > button {
    cursor: pointer;
    border: none;
    background-color: #656d4a;
    font-size: 2rem;
    color: #c2c5aa;
    height: 5rem;
    padding: 1rem;
    transition: all 0.2s; }
    .createGameForm > button:hover {
      background-color: #a4ac86;
      color: #333d29; }

.joinTitle {
  background-color: #7f4f24;
  box-shadow: 2px 2px 10px rgba(0, 0, 0, 0.5);
  padding: 1rem;
  height: 5rem;
  font-size: 2rem;
  font-weight: 400;
  color: #a4ac86;
  display: flex;
  align-items: center; }

.joinGame {
  display: grid;
  gap: 1rem;
  grid-template-columns: repeat(3, 1fr);
  height: 5rem; }
  .joinGame > * {
    width: 100%;
    border-radius: 0.5rem;
    box-shadow: 4px 4px 10px rgba(0, 0, 0, 0.5); }
  .joinGame > input {
    grid-column: span 2;
    border: none;
    height: 100%;
    background-color: #a4ac86;
    padding: 1rem;
    font-size: 1.25rem; }
    .joinGame > input:focus {
      outline: none; }
  .joinGame > button {
    cursor: pointer;
    border: none;
    background-color: #656d4a;
    box-shadow: 4px 4px 10px rgba(0, 0, 0, 0.5);
    font-size: 2rem;
    color: #c2c5aa;
    height: 5rem;
    padding: 1rem;
    transition: all 0.2s; }
    .joinGame > button:hover {
      background-color: #a4ac86;
      color: #333d29; }

.userName {
  display: grid;
  gap: 1rem;
  grid-template-columns: repeat(3, 1fr);
  height: 5rem; }
  .userName > * {
    width: 100%;
    border-radius: 0.5rem;
    box-shadow: 4px 4px 10px rgba(0, 0, 0, 0.5); }
  .userName > input {
    grid-column: span 2;
    border: none;
    height: 100%;
    background-color: #a4ac86;
    padding: 1rem;
    font-size: 1.25rem; }
    .userName > input:focus {
      outline: none; }
  .userName > button {
    cursor: pointer;
    border: none;
    background-color: #656d4a;
    box-shadow: 4px 4px 10px rgba(0, 0, 0, 0.5);
    font-size: 2rem;
    color: #c2c5aa;
    height: 5rem;
    padding: 1rem;
    transition: all 0.2s; }
    .userName > button:hover {
      background-color: #a4ac86;
      color: #333d29; }

.roomInfo {
  display: flex;
  align-items: center;
  justify-content: center;
  font-family: "Gill Sans", "Gill Sans MT", Calibri, "Trebuchet MS", sans-serif;
  font-size: 2rem;
  color: #a4ac86;
  height: 6rem;
  background-color: #7f4f24;
  border-radius: 0.5rem;
  box-shadow: 2px 2px 10px rgba(0, 0, 0, 0.5);
  margin-bottom: 1rem;
  padding: 1rem; }

.gameOptions {
  margin-top: 1rem;
  display: flex;
  gap: 1rem;
  justify-content: center;
  align-items: center;
  height: 6rem; }
  .gameOptions > * {
    height: 100%;
    width: 100%;
    border-radius: 0.5rem;
    box-shadow: 2px 2px 10px rgba(0, 0, 0, 0.5);
    background-color: #7f4f24;
    color: #a4ac86;
    font-size: 2rem;
    font-family: "Gill Sans", "Gill Sans MT", Calibri, "Trebuchet MS", sans-serif;
    display: flex;
    justify-content: center;
    align-items: center; }
  .gameOptions___btn {
    cursor: pointer;
    border: none;
    background-color: #c2c5aa;
    color: #582f0e;
    transition: all 0.2s ease-in-out; }
    .gameOptions___btn:hover {
      background-color: #fe5f55; }
