$color-primary-100: #b6ad90;
$color-primary-200: #a68a64;
$color-primary-300: #936639;
$color-primary-400: #7f4f24;
$color-primary-500: #582f0e;

$color-secondary-100: #c2c5aa;
$color-secondary-200: #a4ac86;
$color-secondary-300: #656d4a;
$color-secondary-400: #414833;
$color-secondary-500: #333d29;

$color-danger: #fe5f55;
$color-success: #8ea447;
$color-warning: #edae49;
